spring:
  application:
    name: prova-dixi-api
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    url: "jdbc:mysql://localhost:3306/prova_dixi"
    username: user
    password: pass
  flyway:
    enabled: true
    baseline-on-migrate: true
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis
